.whiteCurvy,
.woodCurvy,
.whiteRing,
.blackStripeCircle {
        display: block;
        position: absolute;
}

.sexyline1 {
        position: absolute;
        width: 100vw;
        top: 78.7vw;
        height: .52vw;
        background: black;
}


.sexyline2 {
        position: absolute;
        width: 100vw;
        top: 79.5vw;
        height: .78vw;
        background: black;
}

.bottomStuff img {
        width: 100%;
}

.whiteCurvy {
        width: 100vw;
        top: 78.8vw;
}


.woodCurvy {
        width: 100vw;
        top: 120.47vw;

}

.whiteRing {
        width: 34.9vw;
        top: 119.01vw;
        left: 31.77vw;
        z-index: 2;

}

.theShopMobile {
        display: none;
}

.articleTitle {
	order: 8;
	position: absolute;
        width: 51vw !important;
        top: 110vw;
        left: 25vw;
}

.articleTitleTransition{
	transition: top 2s ease, left 2s ease, width 2s ease;

}

.articleTitleGone {
	order: 8;
	position: absolute;
        width: 21vw !important;
        top: 125vw;
        left: 40vw;
}

.blackStripeCircle {
        width: 43.43vw;
        top: 114.84vw;
        left: 27.55vw;

}

.aperatureWrapper {
        position: absolute;
        top: 119.5vw;
        width: 34vw;
        height: 34vw;
        left: 32.4vw;
        border-radius: 50%;
        overflow: hidden;
        z-index: 0;
}

#aperature,
.apertureImg {
        position: absolute;
        width: 100%;
        height: 100%;
        /*
	border: 5px solid red;	
	*/
}

#aperature {
        z-index: 2;
}


.george {
        display: none;
}

.mobileBox {
        display: none;
}

.georgeWrapper {
        position: absolute;
        display: none;
}

.georgeWrapper iframe {
        border-radius: 1vw;
        box-shadow: 4px 4px 8px gray;
}

.george1 {
        width: 25vw;
        height: calc(25vw / 1.7777);
        background-color: gray;
        border-radius: 1vw;
}

.george2 {
        width: 25vw;
        height: calc(25vw / 1.7777);
        background-color: gray;
        border-radius: 1vw;
}

.george3 {
        width: 25vw;
        height: calc(25vw / 1.7777);
        background-color: gray;
        border-radius: 1vw;
}

a:-webkit-any-link {
        text-decoration: none;
}

.mobileBckgrnd {
        display: none;

}

.gradient {
        display: none;
}


.mobileWhite {
        display: none;
}

.siteWrapper {
        position: relative;
        overflow-x: hidden;
        height: 100vh;
        top: 0px;
        left: 0px;
}

body {

        background-color: #171717;
        margin: 0px;
        font-family: monospace;
}

.cover {
        display: none;
        position: fixed;
        background: black;
        width: 100vw;
        height: 100vh;
        left: 0px;
        top: 0px;
        z-index: 40;

}


.container {
        position: relative;
        width: 100vw;
}

.house {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;
}

.wood {
        position: absolute;
        width: 100%;
        top: 16.51vw;
        left: 0px;
}

.name {
        display: none;
        position: absolute;
        top: 2vw;
        left: 6.25vw;
        font: 8.8vw/11.72vw monospace;
        letter-spacing: 1px;
	color:  #00b3b3;
        z-index: 3;
        -webkit-text-stroke: .21vw white;
}


.name span {

        opacity: 0;
        transition: opacity 1s ease, transform .5s ease, color .1s ease;
        transform: translateY(-50px);
}

.name span.fade {
        opacity: 1;
        transform: translateY(0px);
}

.about {
        position: absolute;
        top: 18vw;
        left: 6.5vw;
        width: 56.166666vw;
        display: block;
        font: 300 2.03vw/2.448vw monospace;
        letter-spacing: 2px;
        color: #7B7B7B;
}


.obitag {
        position: absolute;
        top: 64.5vw;
        left: 0px;
        width: 100vw;
        letter-spacing: 1vw;
        font: 900 14vw monospace;
        color: transparent;
        z-index: 3;
        -webkit-text-stroke: .425vw white;
        text-decoration: none;
        transition: color .1s ease;
        justify-content: center;
        display: flex;
}



.obitag:hover {
        color: #5aa19b;

}


.theShop {
        position: absolute;
        top: 69vw;
        left: 0px;
        width: 100vw;
        letter-spacing: 1vw;
        font: 900 10vw monospace;
        color: black;
        z-index: 3;
        -webkit-text-stroke: .425vw white;
        text-decoration: none;
        transition: color .1s ease;
        justify-content: center;
        display: flex;
}



.theShop:hover {
        color: #5aa19b;

}

.pages {
        display: flex;
        /*justify-content: space-evenly;
	 */
        top: 13vw;
        left: 6.5vw;
        position: absolute;
        width: 60vw;
        height: 3vw;
        z-index: 3;
        font: 1.5vw monospace;
}


.page {
        background: #262626;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13vw;
        border-radius: .1vw;
        margin-right: 2vw;
        text-decoration: none;
        color: #999999;
}

.pageHover {
        background: #c2d6d6;
        color: black;
        box-shadow: 5px 5px 8px black;
}


.pagesWrapper {
        position: absolute;
        top: 18vw;
        left: 6.5vw;
        width: 100vw;
        height: 45vw;
        border-radius: 20px;
}

.pagesWrapper img {
        position: relative;
        height: 10vw;
        margin-right: 2vw;
        transition: box-shadow .4s ease, transform .4s ease, width .4s ease, height .4s ease;
        z-index: 3;
	margin-top: 2vw;
}

.pagesWrapper .video {
        position: relative;
        height: 10vw;
        margin-right: 2vw;
        transition: box-shadow .4s ease, transform .4s ease, width .4s ease, height .4s ease;
        z-index: 3;
        overflow: hidden;
        width: 12.933vw;
	margin-top: 2vw;
}
}

.pagesWrapper img:hover {
        box-shadow: 5px 5px 8px black;
        transform: translate(-.1vw, -.1vw);
}

.pagesWrapper .video:hover {
        box-shadow: 5px 5px 8px black;
        transform: translate(-.1vw, -.1vw);

}

#imageClick {
        box-shadow: 8px 8px 10px black;
        z-index: 4;
}

#videoClick {
        box-shadow: 8px 8px 10px black;
        z-index: 4;
}

.page1Content {
        display: none;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        position: relative;
        top: 0px;
        left: 0px;
        width: 95%;
        height: 5%;
}

.page2Content {
        display: none;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        top: 0px;
        left: 0px;
        width: 95%;
        height: 5%;
}

.page3Content {
        display: none;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        top: 0px;
        left: 0px;
        width: 95%;
        height: 5%;
}

.quote {
        opacity: 0;
        border-radius: .1vw;
        overflow: hidden;
        white-space: nowrap;
        transition: width .3s linear;
        width: 1vw;
        color: white;
        background: #00cc99;
}

.quoteAppear {
        opacity: 100;
        width: 15vw;
}

.quote:hover {
        background: #99ffe6;
        font-weight: 500;
        color: black;
        box-shadow: 5px 5px 8px black;
}

.quoteContent {
        display: none;
        flex-wrap: wrap;
        padding-top: 1vw;
        height: 10vw;
        justify-content: left;
        align-items: center;
        width: 65vw;
}

.Instructions {
        width: 100%;
        color: gray;
        font-size: 2vw;
}

.Email {
        padding-right: 2vw;
        color: white;
        font-size: 3vw;
}

.EmailLink {
        color: #00cc99;
        font-size: 3vw;
}

.EmailLink:hover {
        color: teal;
}


@media only screen and (max-width: 800px) {

        .theShopMobile {
                display: block;
                font-family: monospace;
                font-size: 3vw;
                margin-top: 8vw;
                margin-left: 5vw;
                color: #999999;
                background-color: #262626;
                border-radius: .3vw;
                padding: 2vw;
        }

        .theShopWrap {
                width: 100%;
                display: flex;
                justify-content: left;
        }

        .whiteCurvy,
        .sexyline1,
        .sexyline2,
        .woodCurvy,
        .blackStripeCircle,
        .whiteRing,
        .aperatureWrapper {
                display: none;
                position: absolute;

        }


        .name {
                position: absolute;
                left: 20vw;
                margin: auto;
        }


        .wood {
                display: none;
        }

        .house {
                display: none;
        }

        .obitag {
                display: none;
        }

        .theShop {
                display: none;
        }

        .pages {
                top: 16vw;
                display: flex;
                justify-content: center;
                position: absolute;
                left: 3vw;
                width: 100vw;
                height: 10vw;
                z-index: 3;
                font: 500 3.5vw monospace;
        }

        .page {
                background: #262626;
                width: 40vw;
                border-radius: .3vw;
                margin-right: 6vw;
                text-decoration: none;
                color: #999999;
        }



        .pagesWrapper {
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 38vw;
                left: 7vw;
                width: 95vw;
                height: auto;
        }

        .pagesWrapper img {
                position: relative;
                height: 20vw;
                margin-top: 5vw;
                margin-bottom: 3vw;
                transition: box-shadow .4s ease, transform .4s ease, width .4s ease, height .4s ease;
                z-index: 3;
        }

        .pagesWrapper .video {
                position: relative;
                height: 25vw;
                width: calc(25vw * 1.293333);
                margin-top: 5vw;
                margin-bottom: 3vw;
                transition: box-shadow .4s ease, transform .4s ease, width .4s ease, height .4s ease;
                z-index: 3;
                overflow: hidden;
        }


        .quote {
                position: absolute;
                left: 4vw;
                opacity: 0;
                top: 15vw;
                border-radius: .2vw;
                overflow: hidden;
                white-space: nowrap;
                transition: width .3s linear;
                width: 1vw;
                height: 7vw;
                color: white;
                background: #00cc99;
        }

        .quoteAppear {
                opacity: 100;
                width: 55vw;
        }

        .quoteContent {
                display: none;
                flex-wrap: wrap;
                position: absolute;
                left: 5vw;
                padding-top: 6vw;
                height: 10vw;
                justify-content: center;
                align-items: center;
                width: 100vw;
        }

        .Instructions {
                text-align: center;
                margin-bottom: 5vw;
                width: 90%;
                color: gray;
                font-size: 4vw;
        }

        .Email {

                font-size: 5vw;
        }

        .EmailLink {

                font-size: 4vw;
        }

        .pageHover {
                background: #c2d6d6;
                color: black;
                box-shadow: 5px 5px 8px black;
        }

        .about {
                position: absolute;
                top: 35vw;
                left: 6.5vw;
                width: 80%;
                display: block;
                font: 300 4vw/7vw monospace;
                color: #7B7B7B;
        }

        .mobileBckgrnd {
                display: block;
                position: absolute;
                left: -60vw;
                top: 0px;
                width: 230vw;
                transform: rotate(90deg);
                z-index: -1;
        }

        .mobileBox {
                display: block;
                background-color: black;
                position: relative;
                top: 20vw;
                left: 0px;
                width: 93vw;
                height: 530vw;
                margin: auto;
                opacity: 70%;
                border-radius: 5vw;
                border: solid white;
        }

        .georgeWrapper {
                position: absolute;
                top: 530vw;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 3vw;
                left: 2vw;
                z-index: 5;
                width: 89vw;
                height: 200vw;
                border-radius: 3vw;
                text-align: center;
                font: 4vw monospace;
                color: gray;
                align-content: flex-start;

        }

        .george {
                display: block;
                position: relative;
                top: 0px;
                left: 0px;
                margin: auto;
                z-index: 1;
                width: 90vw;
                height: 200vw;
                border-radius: 3vw;
                background-color: black;
                border-style: solid;
                border-color: white;
                border-width: .5vw;
        }



        .george1 {
                width: 70vw;
                height: calc(70vw / 1.7777);
                margin: 8vw;
        }

        .george2 {
                width: 70vw;
                height: calc(70vw / 1.7777);
                margin: 8vw;
        }

        .george3 {
                width: 70vw;
                height: calc(70vw / 1.7777);
                margin: 8vw;
        }

        .gradient {
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100vw;
                background: linear-gradient(transparent, black);
                height: 200vw;

        }


}
