body {

        background-color: #171717;
        margin: 0px;
        font-family: monospace;
        color: white;
}

.headerWrapper {
        width: 100vw;
        display: flex;
        justify-content: left;
        font-size: 2vw;
        background-color: #333333;
        margin-bottom: 2vw;
        align-items: center;
}

.logo {

        width: 5vw;
        height: 5vw;
        padding: 2vw;
        border-radius: 50%;
}

.logo:hover {
        opacity: 80%;
}

.header {
        color: white;
}

.header:hover {
        opacity: 80%;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid-product__wrap-inner:hover .grid-product__title .grid-product__title-inner {
        color: cyan !important;
}


html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link:hover {
        color: cyan !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link,
html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link:visited {
        color: cyan !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control__radio:checked+.form-control__radio-view::after {
        border-color: cyan !important;
        background-color: cyan !important;

}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-cart-step__icon {
        color: cyan !important;
        border: 1px solid cyan !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-cart-step--simple:not(.ec-cart-step--no-action):hover .ec-link,
html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-cart-step--simple:not(.ec-cart-step--no-action):hover .ec-cart-step__title {
        color: cyan !important;
}

a:hover,
a:visited,
a:link,
a:active {
        text-decoration: none;
}
