.jp-output span{
    color:white;
}

.light-container{
    background-color: #292a2b;
    color: white;
    padding: 2rem;
    border-radius: 5px;
    width: 95%;
    font-size: 2rem;
}

.jp-output .mjx-box{
    width: 95%;
    white-space: normal;
}

.jp-output{
    margin-top: 2rem;
    padding: 2rem;
    background-color: #292a2b;
    border-radius: 5px;
    width: 95%;
    font-size: 2rem;
}  

code{
    background-color: #141414;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 2rem;
    color: white;
}

code::selection{
    color: teal;
}

.scrollLink{
    color: #814c81;
    text-decoration: none;
    margin: 0 1rem;
}

.externLink{
    color: #6caabd;
    text-decoration: none;
    margin: 0 1rem;
}

.title, .code::selection{
    color:rgb(92, 193, 160)
}

.step{
    margin-top: 10rem;
    color: rgb(183, 65, 65);
}

.step::selection{
    margin-top: 6rem;
    color: red;
}

img{
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
}

.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 5rem;
}

.flex img{
    height: 100%;
}

.code{
    background-color: #000000;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.code iframe{
    width: 95% !important;
}


/* mobile */
@media screen and (max-width: 800px){
    .flex{
        display: block;
    }
    .simulation{
        width:90%;
    }
}

.jp-output{
    font-size: 1.5rem;
}  

w-1
{
    width: 10%;
}

.w-2
{
    width: 20%;
}

.w-3
{
    width: 30%;
}

.w-4
{
    width: 40%;
}

.w-5
{
    width: 50%;
}

.w-6
{
    width: 60%;
}

.w-7
{
    width: 70%;
}

.w-8
{
    width: 80%;
}

.w-9
{
    width: 90%;
}

.w-10
{
    width: 100%;
}