
body {
	padding: 2vw;
        background-color: #171717;
        margin: 0px;
        font-family: monospace;
        font: 300 2vw/5vw monospace;
        letter-spacing: 2px;
        color: white;
}

